<!DOCTYPE html>
<html>
  <head>
    <title>RailsBookings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if current_user %>
        <%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }%>
    <% else %>
        <%= link_to 'Signup', '/signup'%>
        <%= link_to 'Login', '/login'%>
    <% end %>
  </body>
</html>
